<br><br>
<div border="solid" height="650px" width="100%" ng-controller="change">
<center>
<h1>change your password</h1>
<LABEL>Email:</LABEL>
<input type="text" placeholder="Email" ng-model="email"><br><br>
<LABEL>Old password:</LABEL>
<input type="password" placeholder="password" ng-model="password"><br><br>
<LABEL>Set New password:</LABEL>
<input type="password" placeholder="password" ng-model="password"><br><br>
<button ng-click="change()">submit</button>&ensp;&ensp;&ensp;<br><br><a ui-sref="login">Login now</a>
</center>
</div>




